<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/nav_footer.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/attraction.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/nav_footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/attraction.css') }}">
</head>
<body>
    <nav>
        <div class="nav">
            <a class="title" href="/">台北一日遊</a> 
            <div class="nav_btn">
                <div class="schedule_btn">預定行程</div>
                <div class="signin_up_btn">登入/註冊</div>
            </div>
        </div>        
    </nav>
    <div class="signInSignUp">
        <div class="signIn">
            <div class="docoratorBar"></div>
            <form id="signIn" method="put">
                <div class="sign_title">
                    登入會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign">
                </div>
                <div class="form_content">
                    <input type="email" placeholder="輸入電子信箱" name="email" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" required><br>
                    <button type="submit">登入帳戶</button>
                </div>  
            </form>
            <div class="message">
                <div id="message"></div>
                <div>還沒有帳戶？<span id="to_signup">點此註冊</span></div>
            </div>
        </div>
        <div class="signUp">
            <div class="docoratorBar"></div>
            <form id = "signUp" method="post">
                <div class="sign_title">
                    註冊會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign">
                </div>
                <div class="form_content">
                    <input type="text" placeholder="輸入姓名" name="name" required><br>
                    <input type="email" placeholder="輸入電子信箱" name="email" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" required><br>
                    <button type="submit">註冊新帳戶</button>
                </div>  
            </form>
            <div class="message">
                <div id="message"></div>
                <div>已經有帳戶了？<span id="to_signin">點此登入</span></div>
            </div>
        </div>
    </div>
    <div class="separator_nav"></div>
    <main>
        <div class="content">
            <div class="section">
                <div class="attraction_img">
                    <div class="slider" id="slider">       
                    </div>
                    <div class="shift_btn">
                        <span class="right" id="right" onclick="rightShift()"></span>
                        <span class="left" id="left" onclick="leftshift()"></span>
                    </div>
                    
                    <div class="slider_index" id="slider_index"></div>
                </div>
                <div class="profile">
                    <div class="name"></div>
                    <div class="cat_mrt">
                        <span class="category"></span>
                        <span>at</span>
                        <span class="mrt"></span>
                    </div>
                    <form class="booking_form">
                        <div>訂購導覽行程</div>
                        <div>以此景點為中心的一日行程，帶您探索城市角落的故事</div>
                        <div class="date">
                            <label for="date">選擇日期：</label>
                            <input type="date" id="date" name="date" required>
                        </div>
                        <div class="time">
                            <span>選擇時間：</span>
                            <input type="radio" name="time" id="morning">
                            <label for="morning">上半天</label>
                            <input type="radio" name="time" id="afternoon">
                            <label for="afternoon">下半天</label>
                        </div>
                        <div class="price">
                            導覽費用：<span id="price"></span>
                        </div>
                        <button type="submit">開始預約行程</button>
                    </form>
                </div>
            </div>
            <div class="separator_main"></div>
            <div class="information">
                <div class="description" id="description">
                    
                </div>
                <div class="address">
                    <span>景點位置：</span>
                    <div id="address">
                        
                    </div>
                </div>
                <div class="transport">
                    <span>交通方式：</span>
                    <div id="transport">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
<!-- <script src="/static/js/attraction.js"></script> -->
<script src="{{ url_for('static', filename='js/attraction.js') }}"></script>
<script src="{{ url_for('static', filename='js/sign.js') }}"></script>
</html>