<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav_footer.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav_footer.css') }}">
    <title>台北一日遊</title>
</head>
<body>
    <nav>
        <div class="nav">
            <a class="title">台北一日遊</a> 
            <div class="nav_btn">
                <div class="schedule_btn">預定行程</div>
                <div class="signin_up_btn">登入/註冊</div>
            </div>
        </div>        
    </nav>
    <div class="signInSignUp">
        <div class="signIn">
            <div class="docoratorBar"></div>
            <form id="signIn" method="put">
                <div class="sign_title">
                    登入會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign">
                </div>
                <div class="form_content">
                    <input type="email" placeholder="輸入電子信箱" name="email" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" required><br>
                    <button type="submit">登入帳戶</button>
                </div>  
            </form>
            <div class="message">
                <div id="message"></div>
                <div>還沒有帳戶？<span id="to_signup">點此註冊</span></div>
            </div>
        </div>
        <div class="signUp">
            <div class="docoratorBar"></div>
            <form id = "signUp" method="post">
                <div class="sign_title">
                    註冊會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign">
                </div>
                <div class="form_content">
                    <input type="text" placeholder="輸入姓名" name="name" required><br>
                    <input type="email" placeholder="輸入電子信箱" name="email" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" required><br>
                    <button type="submit">註冊新帳戶</button>
                </div>  
            </form>
            <div class="message">
                <div id="message"></div>
                <div>已經有帳戶了？<span id="to_signin">點此登入</span></div>
            </div>
        </div>
    </div>
    <header>
        <div class="slogan_area">
            <h1 class="slogan">輕鬆享受台北一日遊</h1>
            <div class="sub-slogan">探索每個角落，體驗城市的深度旅遊行程</div>
            <form>
                <input class="inputKw" type="text" name="keyword" placeholder="輸入景點名稱查詢" list="datalist">
                <button type="submit" onclick="fetchSearch(event)"></button>
            </form>
            <div class="category_block">
                <div class="category_list" id="category_list"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="attractions" >
            <!-- <div class="attraction" onclick="location.href='/attraction/id'">
                <div class="attraction_img">
                    <div class="attraction_name">景點名稱</div>    
                </div>
                <div class="info">
                    <div class="mrt">捷運站</div>
                    <div class="category">分類名稱</div>
                </div>
            </div> -->
        </div>
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
    <!-- 要放在這裡程式才讀得到，因為是順著讀下來的 -->
    <!-- <script src="/static/js/index.js"></script> -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sign.js') }}"></script>
</body>
</html>