<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav_footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thankyou.css') }}">
    <title>感謝頁</title>
</head>
<body>
    <nav>
        <div class="nav">
            <a class="title" href="/">台北一日遊</a>
            <div class="nav_btn">
                <div class="schedule_btn">預定行程</div>
                <div class="signin_up_btn">登入/註冊</div>
            </div>
        </div>
    </nav>
    <div class="signInSignUp">
        <div class="signIn">
            <div class="docoratorBar"></div>
            <form id="signIn" >
                <div class="sign_title">
                    登入會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign">
                </div>
                <div class="form_content">
                    <input type="email" placeholder="輸入電子信箱" name="email" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" required><br>
                    <button type="submit">登入帳戶</button>
                </div>  
            </form>
            <div class="message">
                <div id="message"></div>
                <div>還沒有帳戶？<span id="to_signup">點此註冊</span></div>
            </div>
        </div>
        <div class="signUp">
            <div class="docoratorBar"></div>
            <form id="signUp">
                <div class="sign_title">
                    註冊會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign">
                </div>
                <div class="form_content">
                    <input type="text" placeholder="輸入姓名" name="name" required><br>
                    <input type="email" placeholder="輸入電子信箱" name="email" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" required><br>
                    <button type="submit">註冊新帳戶</button>
                </div>  
            </form>
            <div class="message">
                <div id="message"></div>
                <div>已經有帳戶了？<span id="to_signin">點此登入</span></div>
            </div>
        </div>
    </div>
    <main>
        <div>
            訂單編號：<span id="order_id"></span>，已付款成功<br>
            謝謝您訂購我們的行程<br>
            期待活動當日為您服務。<br>
            活動請保持手機暢通，準時到達，導覽人員將用手機與您聯繫。<br>
        </div>
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
    <script src="{{ url_for('static', filename='js/sign.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thankyou.js') }}"></script>
</body>
</html>